@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background:  #FAFAFA;
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Some browsers will not display the caret when using calc, so we put the fallback first */ 
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 97.5% !important; /* !important used for overriding all other customisations */
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 25px) !important; /* Better placement regardless of input width */
}
/*For IE*/
select::-ms-expand { display: none; }