@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background:  #FAFAFA;
}
@layer components {
  .all-\[unset\] {
    all: unset;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Some browsers will not display the caret when using calc, so we put the fallback first */ 
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 97.5% !important; /* !important used for overriding all other customisations */
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 25px) !important; /* Better placement regardless of input width */
}
/*For IE*/
select::-ms-expand { display: none; }

/* Add this CSS in your stylesheet or component */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}
 
.modal-body {
  /* Style your modal content here */
}
